/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */
@import 'all.css';

:root {
	--unit-small: 5px;
	--unit: 10px;
	--body-color: #333333;
	--primary-color: #2780e3;
	--primary-text-color: #333333;
	--dark-bg: #333333;
	--light-grey: #f5f5f5;
	--grey: #d2d2d2;
	--dark-grey: #666666;

	--facebook-blue: #3b5998;
	--twitter-blue: #4099ff;
	--youtube-red: #d34836;

	--menu-bg-color: var(--dark-bg);
	--menu-hover-color: #111111;
	--footer-bg-color: var(--dark-bg);
}

body, html {
	height: initial;
	min-height: 100%;
	color: var(--body-color);
}

div, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, a{
	font-family: Quicksand,"Source Sans Pro", Raleway,"Helvetica Neue",Helvetica,Arial sans-serif !important;
}

a {
	color: var(--primary-color);
}

img {
	max-width: 100%;
	height: auto;
}

.btn {
	border-radius: 0;
}

.btn-primary {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

.form-control,
#registration .field,
#registration .form-control {
	border-radius: 0;
}

.panel {
	border-radius: 0;
}

.panel-heading {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.panel>.list-group:last-child .list-group-item:last-child,
.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.alert {
	border-radius: 0;
}

div.header-lined h1 {
	color: var(--primary-text-color);
}

div.header-lined .breadcrumb {
	padding: 8px 15px;
	margin-bottom: 21px;
	list-style: none;
	background-color: #f5f5f5;
	border-radius: 0;
}

div.header-lined .breadcrumb>.active {
	color: #999999;
}

div.header-lined .breadcrumb li a {
	color: var(--primary-color);
}

/**
 * Header
 */
ul.top-nav>li.primary-action>a.btn {
	background-color: var(--primary-color);
	border-radius: 0;
}


/**
 * Main Menu
 */
.navbar-main {
	background-color: var(--menu-bg-color);
}
.navbar-main .navbar-nav>.active>a,
.navbar-main .navbar-nav>.active>a:focus,
.navbar-main .navbar-nav>.active>a:hover,
.navbar-main .navbar-nav>.open>a,
.navbar-main .navbar-nav>.open>a:focus,
.navbar-main .navbar-nav>.open>a:hover,
.navbar-main .navbar-nav>li>a:focus,
.navbar-main .navbar-nav>li>a:hover {
	background-color: var(--menu-hover-color);
}

.navbar-main .badge {
	background: var(--primary-color);
}

.navbar-main li.account {
	background-color: var(--menu-bg-color);
}

.email-verification {
	color: #f0ad4e;
	background-color: #fcf8e3;
	border-color: #f0ad4e;
}

.email-verification.success {
	border-top: 1px solid #5cb85c;
	border-bottom: 1px solid #5cb85c;
}

.email-verification .far,
.email-verification .fas {
	color: #f0ad4e;
}

.email-verification .btn,
.email-verification .btn:active,
.email-verification .btn[disabled]:hover {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

/**
 * Page Banner
 */
#page-banner .breadcrumbs-wrapper {
	background-color: var(--light-grey);
}
#page-banner .breadcrumb {
	margin-bottom: 0;
	padding: 8px 0;
}

/**
 * Cart
 */
@media (min-width: 992px) {
	#order-premium_comparison .price-table-container .price-table {
		min-width: 190px !important;
		width: 190px !important;
	}
}

#order-standard_cart .header-lined {
	display: none;
}

#order-standard_cart .products .product {
	border-radius: 0 !important;
}

#order-standard_cart .view-cart-items-header {
	background: var(--light-grey) !important;
	border-radius: 0 !important;
	color: var(--body-color) !important;
	font-size: 15px !important;
	border: 1px solid #eee !important;
	border-width: 1px 1px 0 1px !important;
}

#order-standard_cart .view-cart-items {
	border: 1px solid #eee !important;
	border-width: 0 1px 1px 1px !important;
}

#order-standard_cart .empty-cart .btn {
	background: var(--dark-grey) !important;
	border-radius: 0 !important;
}

#order-standard_cart .order-summary {
	background: #fff !important;
	border-radius: 0 !important;
	border: 1px solid #eee !important;
}

#order-standard_cart .summary-container {
	background: #fff !important;
}

#order-standard_cart .btn-checkout {
	width: 100% !important;
}

#order-standard_cart .order-summary h2 {
	background: var(--light-grey) !important;
	color: var(--body-color) !important;
	font-size: 15px !important;
}

#order-premium_comparison .price-table-container ul li {
	background: none !important;
}

#order-premium_comparison .price-table-container .price-table {
	border-radius: 0 !important;
	box-shadow: 0 0 0 !important;
}

#order-premium_comparison .price-table-container .price-table .top-head {
	background-image: url('../img/bg.jpg') !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	border-radius: 5px 5px 0 0 !important;
	overflow: hidden;
}

#order-premium_comparison .price-table-container .price-table .top-head .top-area {
	border: 1px solid var(--grey) !important;
	border-width: 1px 1px 0 1px !important;
	border-bottom: none !important;
	text-shadow: 0 0 0 !important;
	background: var(--light-grey) !important;
	border-radius: 5px 5px 0 0 !important;
	overflow: hidden;
}

#order-premium_comparison .price-table-container .price-table .top-head .top-area h4 {
	color: var(--dark-bg) !important;
}

#order-premium_comparison .price-table-container .price-table .top-head .price-area {
	border-top-width: 0 !important;
	color: #fff !important;
	text-shadow: 0 0 0 !important;
	padding-bottom: 0 !important;
}

#order-premium_comparison .price-table-container .price-table .popular-plan {
	padding: 8px 0 !important;
	background: rgba(255, 255, 255, 0.75) !important;
	color: var(--primary-color) !important;
	border: 1px solid var(--grey) !important;
	border-width: 0 1px 0 1px !important;
}

#order-premium_comparison .price-table-container .price-table .top-head .price-area .price {
	padding: 20px 0 20px 0 !important;
}

#order-premium_comparison .price-table-container .order-button,
#order-premium_comparison .price-table-container .order-button:hover {
	background: var(--dark-bg) !important;
	color: #fff !important;
	font-weight: bold !important;
	text-shadow: 0 0 0 !important;
	box-shadow: 0 0 0 !important;
	border-radius: 0 !important;
	margin: 10px 0 0 0 !important;
	padding: 20px 0 !important;
}

#order-premium_comparison .price-table-container .order-button:hover {
	background: var(--primary-color) !important;
}

#order-premium_comparison .price-table-container .price-table ul {
	border: 1px solid var(--grey) !important;
	padding: 0 !important;
}
#order-premium_comparison .price-table-container .price-table ul li {
	padding: 15px 10px !important;
}

/**
 * Banners
 */
.bg {
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.banner {
	margin: 0;
	padding: 50px 0 60px;
	color: #fff;
}
.break-out {
	width: 100vw;
	position: relative;
	left: calc(-1 * (100vw - 100%) / 2);
}

/**
 * Homepage
 */
.home-shortcuts {
	background-color: var(--menu-bg-color);
}
.home-shortcuts li:first-child {
	border-left: 1px solid var(--menu-bg-color);
}
.home-shortcuts li {
	border-right: 1px solid var(--menu-bg-color);
}
.home-shortcuts li:hover a {
	color: var(--light-grey);
}
.home-shortcuts li:hover span {
	display: none;
}

#homepage-content h1,
#homepage-content h3 {
	line-height: 1.6;
	margin-bottom: 30px;
}

/**
 * Modules
 */
.cms-type-4.cms-archive {
	margin-top: -20px;
	margin-bottom: -80px;
}

.cms-type-4.cms-archive .banner {
	color: var(--body-color);
}

.cms-type-4.cms-archive .bg.break-out {
	color: #fff;
}

.cms-type-4.cms-archive .cms-content:hover:after {
	content: ' ';
	pointer-events: none;
	position: relative;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.25);
}

.cms-type-4.cms-archive .cms-content h4 {
	margin-bottom: 40px;
}

.cms-type-4.cms-archive .cms-content .action {
	margin-top: 40px;
}

.cms-type-4.cms-archive .cms-content .btn {
	color: #fff;
	background: var(--primary-color);
	border: 2px solid var(--primary-color);
}

.cms-type-4.cms-archive .cms-content.bg.break-out .btn {
	background: transparent;
	border: 2px solid #fff;
}
.cms-type-4.cms-archive .cms-content.bg.break-out .btn:hover {
	background: rgba(255, 255, 255, 0.10);
}

/**
 * Registration
 */
#registration .sub-heading span {
	color: var(--primary-color);
}

/**
 * Footer
 */

section#footer {
	background-color: var(--footer-bg-color);
	line-height: 1.6;
	color: #fff;
	padding: 60px 10px;
}

section#footer p {
	margin-bottom: var(--unit);
}

section#footer a:not(.back-to-top) {
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

section#footer .socials {
	margin: 20px 0;
}

section#footer .socials a {
	border-radius: 25px;
	width: 25px;
	height: 25px;
	color: #fff;
	padding: 2px 0;
	background: grey;
	display: inline-block;
	text-align: center;
	margin-right: var(--unit-small);
}

section#footer a.facebook {
	background-color: var(--facebook-blue);
}

section#footer a.twitter {
	background-color: var(--twitter-blue);
}

section#footer a.youtube {
	background-color: var(--youtube-red);
}


.back-to-top {
	position: fixed;
	bottom: var(--unit);
	right: var(--unit);
	opacity: .5;
}
